<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Lan_Address___Port_Scanner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Lan_Address___Port_Scanner.Properties.Settings>
            <setting name="Ports" serializeAs="String">
                <value />
            </setting>
            <setting name="maxThread" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="threadWait" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ipAddrases" serializeAs="String">
                <value />
            </setting>
        </Lan_Address___Port_Scanner.Properties.Settings>
    </userSettings>
</configuration>